.dropdown-toggle ,.dropdown-item{
    cursor: pointer;
}
img{
    max-height:50px ;
    border:2px solid white;
    display: inline;
}
.btn-bkg :hover{
    background-color: #cda2ba;
}
.btn-bkg >button>i.fa-search{
    color: white;
}
