.card{
    border: none;

}
.chat{
    list-style: none;
    margin: 0;
    padding: 0;

}
.chat li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    
}
.rounded-circle{
    height: 50px;
    width: 50px;

}

.msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #e6eef0;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #e9e5e5;
    padding: 10px;
    position: relative;
}
.msg_time{
    
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.msg_time_send{
    
    right:0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
    margin-right: 15px;;
}
.card-body{
    overflow-y: scroll;
    height: 400px;
}
.card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 1px solid #e6e3e3 !important;
    background-color: #fff;
}
.msg_head{
    position: relative;
}
.user_img{
    height: 50px;
    width: 50px;
    border:1.5px solid #f5f6fa;

}
.user_info{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}
