
<div class="card">
  <div class="card-header msg_head">
    <div class="d-flex bd-highlight">
      <div class="img_cont">
        <img src="{{recipientUser.photoUrl}}" class="rounded-circle user_img">
        <span class="online_icon"></span>
      </div>
      <div class="user_info">
        <span>Chat with {{recipientUser.knownAs}}</span>
      </div>
    </div>
  </div>


  <div class="card-body">
    <div *ngIf="messages?.length ===0">
      <p>No messages yet ...say hi by using the message box below</p>
    </div>
    <ul class="chat">
      <li *ngFor="let message of messages">
        <!-- to them -->
        <div *ngIf="message.senderId == recipientUser.id" class="d-flex justify-content-start mb-4">
          <span class="chat-img float-left">
            <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}" class="rounded-circle">
          </span>
          <div class="chat-body">
            <span class="fa fa-clock-o text-muted  msg_time">
              {{message.messageSent | timeago}}</span><br>
            <div  class="msg_cotainer">
              {{message.content}}
            </div>
            
          </div>
        </div>
        <!-- to me -->
        <div *ngIf="message.senderId !=  recipientUser.id" class="d-flex justify-content-end mb-4">
          <div class="chat-body ">
            <span class="fa fa-clock-o text-muted float-right msg_time_send">{{message.messageSent | timeago}}</span>
            <br>
            <div class="msg_cotainer_send">
             {{message.content}}
            </div>
            
            <small class="float-right msg_time_send">
              <!---unread message -->
              <!-- <span *ngIf="!message.isRead" >
                <i class="fa fa-check-circle-o" aria-hidden="true" style="color: red;"></i></span> -->
              <!---read message -->
              <span *ngIf="message.isRead" style="color: rgb(59, 57, 57);font-size: 12px;">seen
                <i class="fa fa-check-circle" aria-hidden="true" style="color: green;"></i>
              </span>
            </small>
          
          </div>
         
          <div class="chat-img float-right ">
            <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}" class="rounded-circle">
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
     <form  #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
       <div class="input-group">
         <input type="text" class="form-control input-sm" 
         placeholder="Type your message ... "
         [(ngModel)]="newMessage.content"
         name="content"
         required>
         <div class="input-group-append">
           <button class="btn btn-dark"[disabled]="!messageForm.valid"><i class="fa fa-paper-plane ml-1" aria-hidden="true"></i></button>
         </div>
       </div>
     </form>
  </div>
</div>